body{
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 172, 234);
    display: flex;
}
.gif_container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header_text{
    text-align: center;
    color: rgb(204, 73, 73);
    font-size: 60px;
    font-family: cursive;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    
}
